@import "tailwindcss";

body {
    background-color: var(--color-creme);
}

@theme {
    --color-creme: #FAF5EF;
    --color-dark-blue: #404254;
    --color-gray-blue: #626474;
    --color-light-blue: #CCD6F6;
    --color-yellow: #FFF3A6;
    --color-light-red: #F5CAC3;
    --color-red: #F28482;
    --color-green: #6FBE78;
    --color-white-overlay: rgba(255, 255, 255, 0.7);
    --font-primary: 'poppins', sans-serif;
    --font-code: 'source code pro', monospace;

}